@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

/* 초기화 */
body, h1, h2, h3,p,ul {
    margin:0; padding: 0;
    }
ul { list-style: none; }
a { text-decoration: none; }
hr { display: none; }

/* 대체텍스트 숨김처리 */
.hidden { overflow: hidden;
        position: absolute;
        height: 1px;
        width: 1px;
        margin: -1px;
        clip: rect(0,0,0,0); }

body {
        font-family: "Nanum Gothic", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0 auto;
        max-width: 1300px;
        min-width: 730px;
        padding: 24px 9px 0;
        background: linear-gradient(180deg, #4dbbff, #fff) repeat-x;
    }
/* 헤더 */
#header {height: 164px;
        background: url(../image/bg2.png) no-repeat white;
        background-position: 100%;
        border-bottom: 10px solid #030;
        }
#header hgroup { padding: 65px 0 0 35px; }
#header hgroup h1 { margin-bottom: 12px; }
#header hgroup p { font-weight: bold; }


#gnb { height: 44px;
    display:flex;
    justify-content: end;
    align-items: center;
}
#gnb ul { display:flex; }
#gnb ul li { margin: 0 15px;}
#gnb ul li a { color: #000; }
#gnb ul li a:hover {padding-bottom:5px; border-bottom: 3px solid slateblue;}

/* main */
main { padding: 29px 7px 25px;
        border: 1px dotted #030;}

/* content */
#content header {}
#content header h2 { padding-bottom:13px; border-bottom: 1px dotted green; }
#content article {}
#content article h3 { margin: 25px 0; }
#content article p {}